.detail-page{
    pre{
        word-break: break-all;
        white-space: normal;
        padding: 5px;
        background: #f5f5f5;
    }
    img{
        max-width: 100%;
    }
    .authr-info.row{
        margin: 0 16px;
    }
    .topic-title{
        margin: 16px;
        font-size: 20px;
    }
    .list-block .comment-list{
        .item-title-row{
            background-image: none;
        }
        img {
            width: 44px;
        }
        .item-subtitle{
            p{
                margin: 0;
            }
        }
    }
}